<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.TbItemCatMapper">
    <select id="findTbItemCatByParentId" resultType="com.taotao.pojo.TbItemCat">
        SELECT * FROM tbitemcat WHERE parentId = #{cId};
    </select>

    <select id="findItemCatStatistics" resultType="com.taotao.pojo.ItemCatStatistics">
        SELECT
            t1.`name`,
            t2.count value
        FROM
            tbitemcat t1,
            (
                SELECT
                    cId,
                    COUNT(cId) count
                FROM
                    tbitem
                GROUP BY
                    cId
            ) t2
        WHERE
            t1.id = t2.cId
    </select>
</mapper>