<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.TbItemParamMapper">
    <insert id="addTbItemParamValue">
        INSERT INTO tbitemparamvalue (itemId, paramId, paramValue) VALUE (#{itemId},#{paramId},#{paramValue});
    </insert>

    <insert id="addTbItemParamGroup">
        INSERT INTO tbitemparamgroup (groupName, itemCatId) VALUE (#{groupName},#{itemCatId})
    </insert>

    <select id="findTbItemParamGroupId" resultType="int">
        SELECT id FROM tbitemparamgroup WHERE groupName = #{groupName} AND itemCatId = #{itemCatId}
    </select>

    <insert id="addTbItemParamKey">
        INSERT INTO tbitemparamkey (paramName, groupId) VALUE (#{paramName},#{groupId})
    </insert>
    
    <resultMap id="group" type="com.taotao.pojo.TbItemParamGroup">
        <id column="groupId" property="id"/>
        <result column="groupName" property="groupName"/>
        <result column="itemCatId" property="itemCatId"/>
        <collection property="paramKeys" ofType="com.taotao.pojo.TbItemParamKey">
            <id column="paramKeyId" property="id"/>
            <result column="paramName" property="paramName"/>
            <association property="tbItemParamValue" javaType="com.taotao.pojo.TbItemParamValue">
                <id column="itemId" property="itemId"/>
                <result column="paramValue" property="paramValue"/>
            </association>
        </collection>
    </resultMap>
    
    
    <select id="findItemGroupAndKeyAndValue" resultMap="group">
        SELECT
            c.id groupId,
            c.groupName,
            c.itemCatId,
            b.id paramKeyId,
            b.paramName,
            a.itemId,
            a.paramValue
        FROM
            tbitemparamvalue a
        INNER JOIN tbitemparamkey b ON a.paramId = b.id
        INNER JOIN tbitemparamgroup c ON b.groupId = c.id
        WHERE
            a.itemId = #{itemId}
    </select>
</mapper>